---

import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import Badge from '../components/Badge.astro';
import GitHub from '../components/icons/GitHub.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import SocialLink from '../components/SocialLink.astro';

import Certifications from '../components/Certifications.astro';
import Sectioncontainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
import SectionContainer from '../components/SectionContainer.astro';
import AboutMe from '../components/AboutMe.astro';

---

<Layout title='Portafolio de Emmanuel Matrinez Estudiante de Ingeniería en Tecnologías de la Información y las Comunicaciones '>
	<main class="w-[720px]  mx-auto px-2 lg:w-[740px]">
		<Sectioncontainer class="pt-36" id="inicio">
			
				<h1 class="text-white text-3xl lg:text-3xl font-bold flex flex-row gap-x-4 pb-2 text-center">¡Hola! Soy Emmanuel Martínez</h1>
				<Badge>Disponible para trabajar</Badge>

			<h2 class="text-2xl opacity-80 font-semibold  my-4">Estudiante de Ingeniería en Tecnologías de la Información y las Comunicaciones</h2>
			<h2 class="text-xl opacity-70 mb-2">Aguascalientes, Ags., México 🇲🇽</h2>
			
			<nav class=" flex items-center  gap-x-3  pt-2 px-1 my-4">
				<SocialLink href='https://github.com/Emmanuel-Mtz-777' target="_blank">Github <GitHub class="size-6"></GitHub> </SocialLink>
				<SocialLink href='https://www.linkedin.com/in/humberto-emmanuel-rosales-martinez-588002316/' target="_blank">Linkedin <Linkedin class="size-6"></Linkedin> </SocialLink>
				
			</nav>
		</Sectioncontainer>
			
		<Sectioncontainer class="pt-12" id="certificacion">
			<Certifications />
		</Sectioncontainer>

		<Sectioncontainer class="pt-12" id="proyectos">
			<Projects />
		</Sectioncontainer>

		<Sectioncontainer class="pt-12" id="sobre-mi">
			<AboutMe />
		</Sectioncontainer>


	</main>
</Layout>
