---

import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import Badge from '../components/Badge.astro';
import GitHub from '../components/icons/GitHub.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import SocialLink from '../components/SocialLink.astro'; 
import Mail from '../components/icons/Mail.astro';
import Certifications from '../components/Certifications.astro';
import Sectioncontainer from '../components/SectionContainer.astro';

---

<Layout title='Portafolio de Emmanuel Matrinez Estudiante de Ingeniería en Tecnologías de la Información y las Comunicaciones '>
	<main>
		<Sectioncontainer class="pt-36" id="inicio">
			<div class="flex items-center gap-5">
				<h1 class="text-white text-4xl font-bold flex flex-row gap-x-4 pb-2 text-center">¡Hola! Soy Emmanuel Martínez</h1>
				<Badge>Disponible para trabajar</Badge>
			</div>
			<h2 class="text-2xl opacity-80 font-semibold">Estudiante de Ingeniería en Tecnologías de la Información y las Comunicaciones</h2>
			<h2 class="text-2xl opacity-70">Aguascalientes, Ags., México 🇲🇽</h2>
			<p class="text-wrap">Apasionado por la tecnología y siempre en busca de nuevas formas de resolver problemas de manera creativa. Me gusta aprender todos los días, experimentar con ideas y llevarlas a la práctica. Creo en el poder del conocimiento constante y en nunca dejar de mejorar.</p>

			<nav class=" flex items-center gap-x-3  pt-2 px-1 my-4">
				<SocialLink href='https://github.com/Emmanuel-Mtz-777' target="_blank">Github <GitHub class="size-6"></GitHub> </SocialLink>
				<SocialLink href='https://www.linkedin.com/in/humberto-emmanuel-rosales-martinez-588002316/' target="_blank">Linkedin <Linkedin class="size-6"></Linkedin> </SocialLink>
				<SocialLink href='mailto:hemmanuelmtz777@gmail.com'>hemmanuelmtz777@gmail.com <Mail class="size-6"></Mail> </SocialLink>
			</nav>
		</Sectioncontainer>
			
		<Sectioncontainer class="py-22" id="certificacion">
			<Certifications></Certifications>
		</Sectioncontainer>


	</main>
</Layout>
