---
import MeIcon from "./icons/MeIcon.astro"
---

<h2 class="flex items-center text-2xl font-bold gap-2"> <MeIcon class="size-10 text-white"/> Sobre mi </h2>
<div class=" w-[720px]  mx-auto px-2 lg:w-[740px] flex gap-6 items-center justify-center">
    <div class="w-[30%]">
        <img src="/images/Yo.avif" alt="" class="rounded-2xl">
    </div>
    <div class="w-[70%] space-y-4 text-gray-200">
        <p>
            Soy estudiante de Ingeniería en Tecnologías de la Información y las Comunicaciones en el Instituto Tecnológico de Aguascalientes. <span class="text-sky-400">Me apasiona entender cómo funciona la tecnología y convertir ideas en soluciones reales.</span>
        </p>
        <p>
            Disfruto explorar diferentes áreas como desarrollo web, arquitecturas, contenedores y bases de datos. <span class="text-sky-400">Me gusta aprender, experimentar y crecer a través del proceso.</span>
        </p>
        <p>
        Este portafolio refleja mi evolución, mi versatilidad y el camino que estoy construyendo como desarrollador.
        </p>
        <a href="" class="border px-4 py-2">Descargar CV</a>
    </div>



</div>