---
import HeaderLink from "./HeaderLink.astro"
import { Image } from 'astro:assets';
import image from '../../public/images/Yo.avif';
---

<header class="fixed  z-10 flex items-center justify-center w-full mx-auto">
    <div class="w-full px-5 max-w-[1120px] flex justify-center items-center bg-black py-4">
        

        <nav class="flex px-3 text-md font-bold gap-10 text-white justify-around items-center">
        <HeaderLink href="#inicio">Inicio</HeaderLink>
        <HeaderLink href="#proyectos">Proyectos</HeaderLink>
        <HeaderLink href="#stack">Stack</HeaderLink>
        <HeaderLink href="#certificacion">Certificaciones</HeaderLink>
        <HeaderLink href="#sobre-mi">Sobre mi</HeaderLink>
        <HeaderLink href="#contacto">Contacto</HeaderLink>
        </nav>
    </div>
</header>
