---
import HeaderLink from "./HeaderLink.astro"
---

<header class="fixed  z-10 flex items-center justify-center w-full mx-auto">
    <div class="w-full px-5 max-w-[1120px] flex justify-between items-center bg-black py-4">
        <img src="/images/Yo.avif" alt="Imagen IA de mi" class="rounded-full object-contain size-8 " />

        <nav class="flex px-3 text-md gap-8 text-white justify-around items-center">
        <HeaderLink href="#inicio">Inicio</HeaderLink>
        <HeaderLink href="#proyectos">Proyectos</HeaderLink>
        <HeaderLink href="#stack">Stack</HeaderLink>
        <HeaderLink href="#certificacion">Certificaciones</HeaderLink>
        <HeaderLink href="#sobre-mi">Sobre mi</HeaderLink>
        <HeaderLink href="#contacto">Contacto</HeaderLink>
        </nav>
    </div>
</header>
