---
import CodeIcon from "./icons/reference/codeIcon.astro"
import type {Project} from "../utils/Proyects";
import { MyProjects } from "../utils/Proyects";
import ProjectItem from "../components/ProjectItem.astro";
import SectionTitle from "./SectionTitle.astro";
---

<SectionTitle><CodeIcon />Proyectos</SectionTitle>

<ul class="relative  w-[720px] border-gray-200 dark:border-gray-700">
    {MyProjects.map(project=> (
        <li>
        <ProjectItem project={project} />
        </li>
    ))}
</ul>