---
import SectionTitle from "./SectionTitle.astro";
import StackIcon from "./icons/reference/StackIcon.astro";
import StackItems from "./StackItems.astro";
---

<SectionTitle><StackIcon /> Mi Stack Tecnologico</SectionTitle>
<div class="flex flex-col gap-2 mt-5">
    <p>
        Mi stack tecnológico incluye frontend, backend y manejo de datos. Con estas herramientas desarrollo proyectos completos y funcionales.
    </p>
    <p>Esto me permite adaptarme a diferentes necesidades y entregar soluciones que cumplen con los requerimientos de cada proyecto.
    </p>
</div>
<StackItems />