---
import AstroIcon from "./icons/stack/AstroIcon.astro";
import CssIcon from "./icons/stack/CssIcon.astro";
import HtmlIcon from "./icons/stack/HtmlIcon.astro";
import JavaScriptIcon from "./icons/stack/JavaScriptIcon.astro";
import PythonIcon from "./icons/stack/PythonIcon.astro";
import TailwindIcon from "./icons/stack/TailwindIcon.astro";
import TypeScripIcon from "./icons/stack/TypeScripIcon.astro";
import DockerIcon from "./icons/stack/DockerIcon.astro";
import VueIcon from "./icons/stack/VueIcon.astro";
import ElasticIcon from "./icons/stack/ElasticIcon.astro"
import NuxtIcon from "./icons/stack/NuxtIcon.astro"
import LaravelIcon from "./icons/stack/LaravelIcon.astro"
import GitIcon from "./icons/stack/GitIcon.astro"
import NodeIcon from "./icons/stack/NodeIcon.astro";
import ExpressIcon from "./icons/stack/ExpressIcon.astro";
import MysqlIcon from "./icons/stack/MysqlIcon.astro"

const stackIcons = [
	GitIcon,
	DockerIcon,
	HtmlIcon,
	CssIcon,
	JavaScriptIcon,
	TypeScripIcon,
	TailwindIcon,
	AstroIcon,
	PythonIcon,
	ElasticIcon,
	VueIcon,
	NuxtIcon,
	LaravelIcon,
	NodeIcon,
	ExpressIcon,
	MysqlIcon

];
---

<style>
	.scroll-wrapper {
		overflow: hidden;
		width: 100%;
	}

	.scroll-track {
		display: flex;
		width: max-content;
		align-items: center;
		animation: scroll-left 20s linear infinite;
	}

	@keyframes scroll-left {
		from {
			transform: translateX(0%);
		}
		to {
			transform: translateX(-50%);
		}
	}
</style>

<div class="scroll-wrapper">
	<div class="scroll-track gap-8 h-16">
		{stackIcons.concat(stackIcons).map((Icon, index) => (
			<Icon class="w-12 h-12 transition duration-300 hover:scale-125" key={index} />
		))}
	</div>
</div>
